/* calculator/static/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.card {
    border: none;
}

.card-title {
    font-size: 1.75rem;
    font-weight: 700;
}

.table th,
.table td {
    vertical-align: middle;
}

.table thead th {
    background-color: #f8f9fa;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.form-check-input {
    margin-right: 0.5rem;
}

.form-control, .form-select {
    width: 100%; /* Используем 100% ширины для полей */
    display: block;
    box-sizing: border-box;
}

.col-auto {
    text-align: left; /* Обеспечивает выравнивание по левому краю */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .col-12 {
        width: 100%; /* На маленьких экранах каждый элемент будет занимать 100% ширины */
    }

    .form-check {
        flex-direction: row;
        align-items: center;
    }

    button[type="submit"] {
        width: 100%; /* Кнопка на всю ширину */
    }
}
